@using JD.Invoicing.Web.Models.Common.Modals
@model JD.Invoicing.Web.Models.Goods.EditGoodsModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditGoods")))

<div class="modal-body">
    <form name="GoodsEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Goods.Id" />
        <div>
            <div class="row clearfix">
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.Code" class="form-label"></label>
                            <input type="text" name="Code" value="@Model.Goods.Code" class="form-control" required maxlength="50" />
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.Name" class="form-label"></label>
                            <input type="text" name="Name" value="@Model.Goods.Name" class="form-control" required maxlength="150" />
                        </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.GenericName" class="form-label"></label>
                            <input type="text" name="GenericName" value="@Model.Goods.GenericName" class="form-control" required maxlength="150" />
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.PinyinCode" class="form-label"></label>
                            <input type="text" name="PinyinCode" value="@Model.Goods.PinyinCode" class="form-control" required maxlength="150" />
                        </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.Barcode" class="form-label"></label>
                            <input type="text" name="Barcode" value="@Model.Goods.Barcode" class="form-control" required maxlength="100" />
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.Unit" class="form-label"></label>
                            <input type="text" name="Unit" value="@Model.Goods.Unit" class="form-control" required maxlength="50" />
                        </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                        <div class="form-line">
                            <label asp-for="@Model.Goods.Specs" class="form-label"></label>
                            <input type="text" name="Specs" value="@Model.Goods.Specs" class="form-control" required maxlength="50" />
                        </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.Model"></label>
                        <input type="text" name="Model" value="@Model.Goods.Model" class="form-control" required maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.Manufacturer"></label>
                        <input type="text" name="Manufacturer" value="@Model.Goods.Manufacturer" class="form-control" required maxlength="150" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.License"></label>
                        <input type="text" name="License" value="@Model.Goods.License" class="form-control" required maxlength="150" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.Class"></label>
                        <input type="text" name="Class" value="@Model.Goods.Class" class="form-control" required maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.Type"></label>
                        <input type="text" name="Type" value="@Model.Goods.Type" class="form-control" required maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.RetailPrice"></label>
                        <input name="RetailPrice" type="text" value="@Model.Goods.RetailPrice" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.Status"></label>
                        <input name="Status" type="text" value="@Model.Goods.Status" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.Remarks"></label>
                        <input name="Remarks" type="text" value="@Model.Goods.Remarks" class="form-control" required maxlength="200" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.CreateDate"></label>
                        <input name="CreateDate" type="text" value="@Model.Goods.CreateDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.CreateName"></label>
                        <input name="CreateName" type="text" value="@Model.Goods.CreateName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.UpdateDate"></label>
                        <input name="UpdateDate" type="text" value="@Model.Goods.UpdateDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Goods.UpdateName"></label>
                        <input name="UpdateName" type="text" value="@Model.Goods.UpdateName" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Goods/_EditGoodsModal.js" asp-append-version="true"></script>