@using JD.Invoicing.Web.Startup
@model JD.Invoicing.Web.Models.Goods.GoodsListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Goods; // The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Goods/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Goods/Index.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Goods")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Name")</th>
                            <th>@L("GenericName")</th>
                            <th>@L("PinyinCode")</th>
                            <th>@L("Barcode")</th>
                            <th>@L("Unit")</th>
                            <th>@L("Specs")</th>
                            <th>@L("Model")</th>
                            <th>@L("Manufacturer")</th>
                            <th>@L("License")</th>
                            <th>@L("Class")</th>
                            <th>@L("Type")</th>
                            <th>@L("RetailPrice")</th>
                            <th>@L("Remarks")</th>
                            <th>@L("Status")</th>
                            <th>@L("CreateDate")</th>
                            <th>@L("CreateName")</th>
                            <th>@L("UpdateDate")</th>
                            <th>@L("UpdateName")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Goodses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GenericName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PinyinCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Barcode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Specs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Manufacturer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.License)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RetailPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdateName)
                                </td>

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-goods" data-goods-id="@item.Id" data-toggle="modal" data-target="#GoodsEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-goods" data-goods-id="@item.Id" data-goods-name="@item.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#GoodsCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GoodsCreateModal" tabindex="-1" role="dialog" aria-labelledby="GoodsCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateGoods")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="goodsCreateForm" role="form" class="form-validation">
                    <div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Code")</label>
                                    <input type="text" name="Code" class="form-control" required maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Name")</label>
                                    <input type="text" name="Name" class="form-control" required maxlength="150" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("GenericName")</label>
                                    <input type="text" name="GenericName" class="form-control" required maxlength="150" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("PinyinCode")</label>
                                    <input type="text" name="PinyinCode" class="form-control" required maxlength="150" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Barcode")</label>
                                    <input type="text" name="Barcode" class="form-control" required maxlength="100" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Unit")</label>
                                    <input type="text" name="Unit" class="form-control" required maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Specs")</label>
                                    <input type="text" name="Specs" class="form-control" required maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Model")</label>
                                    <input type="text" name="Model" class="form-control" required maxlength="50" />

                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Manufacturer")</label>
                                    <input name="Manufacturer" type="text" class="form-control" required maxlength="150" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("License")</label>
                                    <input name="License" type="text" class="form-control" required maxlength="150" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Class")</label>
                                    <input name="Class" type="text" class="form-control" required maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Type")</label>
                                    <input name="Type" type="text" class="form-control" required maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("RetailPrice")</label>
                                    <input name="RetailPrice" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("Status")</label>
                                    <input name="Status" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-line">
                                    <label class="form-label">@L("Remarks")</label>
                                    <input name="Remarks" type="text" class="form-control" required maxlength="200" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("CreateDate")</label>
                                    <input name="CreateDate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("CreateName")</label>
                                    <input name="CreateName" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("UpdateDate")</label>
                                    <input name="UpdateDate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-line">
                                    <label class="form-label">@L("UpdateName")</label>
                                    <input name="UpdateName" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GoodsEditModal" tabindex="-1" role="dialog" aria-labelledby="GoodsEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
