@using JD.Invoicing.Web.Models.Common.Modals
@model JD.Invoicing.Web.Models.Warehouse.EditWarehouseModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditWarehouse")))
<div class="modal-body">
    <form name="WarehouseEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Warehouse.Id" />
        <div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Code")</label>
                        <input type="text" name="Code" value="@Model.Warehouse.Code" class="form-control" required maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Name")</label>
                        <input type="text" name="Name" value="@Model.Warehouse.Name" class="form-control" required maxlength="150" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label class="form-label">@L("Address")</label>
                        <input type="text" name="Address" value="@Model.Warehouse.Address" class="form-control" required maxlength="200" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Sizes")</label>
                        <input type="text" name="Sizes" value="@Model.Warehouse.Sizes" class="form-control" required maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Purpose")</label>
                        <input type="text" name="Purpose" value="@Model.Warehouse.Purpose" class="form-control" required maxlength="500" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Status")</label>
                        <input name="Status" type="text" value="@Model.Warehouse.Status" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label class="form-label">@L("Remarks")</label>
                        <input name="Remarks" type="text" value="@Model.Warehouse.Remarks" class="form-control" required maxlength="200" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("CreateDate")</label>
                        <input name="CreateDate" type="text" value="@Model.Warehouse.CreateDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("CreateName")</label>
                        <input name="CreateName" type="text" value="@Model.Warehouse.CreateName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("UpdateDate")</label>
                        <input name="UpdateDate" type="text" value="@Model.Warehouse.UpdateDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("UpdateName")</label>
                        <input name="UpdateName" type="text" value="@Model.Warehouse.UpdateName" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Warehouse/_EditWarehouseModal.js" asp-append-version="true"></script>