@using JD.Invoicing.Web.Models.Common.Modals
@model JD.Invoicing.Web.Models.Warehouse.EditWarehouseModalViewModel

@{

    Layout = null;

}

@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditWarehouse")))

<div class="modal-body">
    <form name="WarehouseEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Warehouse.Id" />
        <div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label asp-for="@Model.Warehouse.Code" class="form-label"></label>
                            <input type="text" name="Code" class="form-control" required maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label asp-for="@Model.Warehouse.Name" class="form-label"></label>
                            <input type="text" name="Name" class="form-control" required maxlength="150" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label asp-for="@Model.Warehouse.Address" class="form-label"></label>
                            <input type="text" name="Address" class="form-control" required maxlength="200" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label asp-for="@Model.Warehouse.Sizes" class="form-label"></label>
                            <input type="text" name="Sizes" class="form-control" required maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label asp-for="@Model.Warehouse.Purpose" class="form-label"></label>
                            <input type="text" name="Purpose" class="form-control" required maxlength="500" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Warehouse.Remarks"></label>
                        <input name="Remarks" type="text" class="form-control" required maxlength="200" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Warehouse.Status"></label>
                        <input name="Status" type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Warehouse.CreateDate"></label>
                        <input name="CreateDate" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Warehouse.CreateName"></label>
                        <input name="CreateName" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Warehouse.UpdateDate"></label>
                        <input name="UpdateDate" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label asp-for="@Model.Warehouse.UpdateName"></label>
                        <input name="UpdateName" type="text" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Warehouse/_EditWarehouseModal.js" asp-append-version="true"></script>